/* Pastel by Kyle Wenholz (http://krwenholz.com) */

.base00-bg { background-color: #262626; }
.base01-bg { background-color: #a8ff60; }
.base02-bg { background-color: #ffffb6; }
.base03-bg { background-color: #4f4f4f; }
.base04-bg { background-color: #96cbfe; }
.base05-bg { background-color: #ffffff; }
.base06-bg { background-color: #ff73fd; }
.base07-bg { background-color: #eeeeee; }
.base08-bg { background-color: #ffb6b0; }
.base09-bg { background-color: #ff6c60; }
.base0A-bg { background-color: #ffffcc; }
.base0B-bg { background-color: #ceffac; }
.base0C-bg { background-color: #dfdffe; }
.base0D-bg { background-color: #b5dcff; }
.base0E-bg { background-color: #ff9cfe; }
.base0F-bg { background-color: #c6c5fe; }

.base00 { color: #262626; }
.base01 { color: #a8ff60; }
.base02 { color: #ffffb6; }
.base03 { color: #4f4f4f; }
.base04 { color: #96cbfe; }
.base05 { color: #ffffff; }
.base06 { color: #ff73fd; }
.base07 { color: #eeeeee; }
.base08 { color: #ffb6b0; }
.base09 { color: #ff6c60; }
.base0A { color: #ffffcc; }
.base0B { color: #ceffac; }
.base0C { color: #dfdffe; }
.base0D { color: #b5dcff; }
.base0E { color: #ff9cfe; }
.base0F { color: #c6c5fe; }
