.base00 { color: #262626; }
.base01 { color: #a8ff60; }
.base02 { color: #ffffb6; }
.base03 { color: #4f4f4f; }
.base04 { color: #96cbfe; }
.base05 { color: #ffffff; }
.base06 { color: #ff73fd; }
.base07 { color: #eeeeee; }
.base08 { color: #ffb6b0; }
.base09 { color: #ff6c60; }
.base0A { color: #ffffcc; }
.base0B { color: #ceffac; }
.base0C { color: #dfdffe; }
.base0D { color: #b5dcff; }
.base0E { color: #ff9cfe; }
.base0F { color: #c6c5fe; }

.base00-background { background-color: #262626; }
.base01-background { background-color: #a8ff60; }
.base02-background { background-color: #ffffb6; }
.base03-background { background-color: #4f4f4f; }
.base04-background { background-color: #96cbfe; }
.base05-background { background-color: #ffffff; }
.base06-background { background-color: #ff73fd; }
.base07-background { background-color: #eeeeee; }
.base08-background { background-color: #ffb6b0; }
.base09-background { background-color: #ff6c60; }
.base0A-background { background-color: #ffffcc; }
.base0B-background { background-color: #ceffac; }
.base0C-background { background-color: #dfdffe; }
.base0D-background { background-color: #b5dcff; }
.base0E-background { background-color: #ff9cfe; }
.base0F-background { background-color: #c6c5fe; }
