/* Pastel by Kyle Wenholz (http://krwenholz.com) */

:root {
  --base00: #262626;
  --base01: #a8ff60;
  --base02: #ffffb6;
  --base03: #4f4f4f;
  --base04: #96cbfe;
  --base05: #ffffff;
  --base06: #ff73fd;
  --base07: #eeeeee;
  --base08: #ffb6b0;
  --base09: #ff6c60;
  --base0A: #ffffcc;
  --base0B: #ceffac;
  --base0C: #dfdffe;
  --base0D: #b5dcff;
  --base0E: #ff9cfe;
  --base0F: #c6c5fe;
}
